/*-------------
      ROOT 
-------------*/
:root {
  --main-bg: rgb(255, 255, 255);
  /* --secondary-bg: rgb(41, 82, 197); */
  --secondary-bg: #ebe2d7;
  --tritary-bg: #383633;
  --text-color: #383633;
  --text-secondary-color: #ffffff;
  --accent-color: rgb(52, 117, 215);
  --light-black-bg: #4b4b4a;
}
/*-----------------
      Globals  
------------------*/
* {
  padding: 0;
  margin: 0;
  font-family: "Opensans", sans-serif;
}
.container {
  background-color: var(--main-bg);
  font-size: 1rem;
  font-weight: 100;
  margin: 0 0 2em 0;
}
.btn {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
  scale: 100%;
  transition: all 0.1s ease-in-out;
}
.submit-btn {
  background-color: var(--tritary-bg);
  color: var(--text-secondary-color);
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  scale: 100%;
  transition: all 0.1s ease-in-out;
}
.submit-btn:hover,
.btn:hover {
  scale: 97%;
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
}
.btn:focus {
  box-shadow: inset 1px 1px 5px var(--light-black-bg);
}

.error-message {
  margin: 0.2em 0;
  color: red;
}

.section-title {
  font-size: 2.2rem;
  font-stretch: expanded;
  font-weight: 100;
  padding: 1em;
  text-align: center;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

/*------------------
    Loading Spinner 
 ------------------*/
.container.loading {
  filter: blur(5px);
  pointer-events: none;
}
.loading-spinner::after {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 15px solid transparent;
  border-bottom-color: var(--accent-color);
  animation: spin infinite 1.25s ease-in;
  mix-blend-mode: multiply;
}

.loading-spinner::before {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 15px solid transparent;
  border-top-color: var(--main-bg);
  animation: spin infinite 2s ease-in-out;
  mix-blend-mode: multiply;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

/*--------------------
     NAVIGATION 
---------------------*/
#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0em 1em;
  background-color: var(--main-bg);
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
}
.nav-link-container,
.cart-icon-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}
.icon-links {
  display: flex;
  align-items: center;
}
.icon-links svg {
  height: 1.3em;
  width: 1.3em;
}
.logo {
  font-family: "Opensans", sans-serif;
  font-weight: 900;
  width: 130px;
}

.top-banner {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  height: 40px;
  position: relative;
  top: 0;
  z-index: 9999;
  width: 100%;
  font-weight: 100;
}
.banner-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.auth-btn-container {
  position: absolute;
  right: 10px;
}
/*-----------------------
        MOBILE NAV  
 -----------------------*/
.burger {
  color: var(--text-color);
  cursor: pointer;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: auto;
  color: var(--text-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.361);
}
.mobile-links {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--secondary-bg);
  padding: 1em;
  border-bottom: 1px solid rgba(135, 135, 135, 0.493);
}

.mobile-links:hover {
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
}

.appear {
  display: flex;
}
.no-display {
  display: none;
}
/*----------------
    LOGIN SCREEN
-----------------*/
#login-bg {
  background-image: url("./constants/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -450px;
  background-blend-mode: overlay;
  background-color: #000000c2;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  z-index: 9999;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  background-color: var(--secondary-bg);
  gap: 1.6em;
  padding: 2em;
  border-radius: 10px;
}

.login-container input {
  border: solid rgba(218, 218, 218, 0.694);
  padding: 0.3em;
}

.login-container button {
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
}
.login-container button:hover {
  background-color: var(--tritary-bg);
  color: var(--text-secondary-color);
}

/*----------------
    SHOP CARDS 
-----------------*/
.shop-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2em;
}

.shop-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--main-bg);
  padding: 1em;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.2em;
  font-weight: 100;
  text-decoration: none;
  position: relative;
  size: 100%;
}
.card-img {
  margin-bottom: 0.5em;
  object-fit: cover;
}
.card-title {
  font-size: 1rem;
}
.price-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
}
.card-price {
  font-size: 1rem;
  line-height: 1.5rem;
}
.card-actual-price {
  text-decoration: line-through;
  color: rgb(168, 168, 168);
  font-weight: 100;
}
.shop-details-container {
  position: relative;
  width: 100%;
  right: 0;
}
.shop-modal {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-secondary-color);
}

/*----------------------
      SHOP SIDEBAR 
-----------------------*/
.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 8em 1em 1em 1em;
  justify-content: start;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  height: 100svh;
  max-width: 180px;
  width: 100%;
  background-color: var(--main-bg);
  text-align: left;
  z-index: 0;
}

/**----------------------
    HOMEPAGE - START
**----------------------**/
/*-----------------------
      HERO BANNER
-----------------------*/
.hero {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
}
/*-----------------------
    FAVORITES SECTION
-------------------------*/
.fav-grid {
  margin-bottom: 3em;
}
.fav-card-title {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 10;
}
.shop-card:hover {
  size: 95%;
}
/*-----------------------
    CONTRAST SECTION
-------------------------*/
.contrast-section {
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  padding: 4em 1em;
}
.block-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 2em;
}
.block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
  width: 100%;
}
.inner-block-container p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.inner-block-title {
  font-weight: 600;
  font-size: 1rem;
}
.icon-sizer {
  font-size: 60px;
}
/**----------------------
    HOMEPAGE - END
**----------------------**/
/**----------------------
    FORMS - START
**----------------------**/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 1em;
  padding: 2em;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--secondary-bg);
  border-radius: 10px;
}
.form-row {
  text-align: left;
  width: 100%;
}

.form-label {
  width: 100%;
}
.form h4 {
  margin: 1em 0;
  text-transform: uppercase;
}
.form input[type="text"],
.form input[type="number"],
.form input[type="file"],
.form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  width: 100%;
}
.form-btn {
  width: 100%;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
}
.form-btn:hover {
  background-color: var(--light-black-bg);
  color: var(--text-secondary-color);
}
.delete-btn,
.cancel-btn {
  display: flex;
  justify-content: center;
  color: var(--text-secondary-color);
  margin-bottom: 4em;
  width: 90%;
  margin: 0 auto 4em auto;
  padding: 1rem;
}
.delete-btn {
  background-color: rgb(231, 35, 35);
}
.cancel-btn {
  background-color: var(--light-black-bg);
}
/**----------------------
    FORMS - END
**----------------------**/

/**----------------------
    FOOTER - START
**----------------------**/
.footer-container {
  background-color: var(--tritary-bg);
  color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
}
.top-footer-section {
  background-color: var(--light-black-bg);
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 3em 2em;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}
.subscribe input,
.subscribe-btn {
  border: none;
  padding: 1em;
}
.subscribe-btn {
  background-color: var(--secondary-bg);
  cursor: pointer;
}
.subscribe-btn:hover {
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
}
.subscribe input {
  background-color: var(--light-black-bg);
  border: solid 1px var(--secondary-bg);
  color: var(--secondary-bg);
  outline: none;
}
.subscribe ::placeholder {
  color: var(--secondary-bg);
}
.social-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: end;
  align-items: center;
}
.social-links {
  color: var(--secondary-bg);
}
.footer-bottom-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  font-weight: 100;
  font-size: 0.8rem;
}
.copyright-container,
.copyright-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
  line-height: 1.5rem;
}
.social-icon {
  font-size: 35px;
}
/* footer middle section */
.footer-middle-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 2em 0;
  font-size: 0.9rem;
}
.footer-middle-section li {
  list-style-type: none;
}
.footer-middle-section li a,
.footer-bottom-section a {
  color: var(--secondary-bg);
  font-weight: 100;
}
.footer-middle-section li a:hover,
.footer-bottom-section a:hover {
  color: var(--accent-color);
}
.middle {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}
.middle h4 {
  font-weight: 700;
}
.middle ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
/**----------------------
    FOOTER - END
**----------------------**/
/**----------------------
    SHOP ITEM - START
**----------------------**/
.item-container {
  display: flex;
  flex-direction: column;
}
.shopitem-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.item-image {
  width: 100%;
}
.color-container,
.finishes-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 0.5em;
}
.color-option {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  border: solid lightgray;
  background-color: #383633;
}
.color-option:hover,
.color-option::selection,
.color-option:active {
  border: solid var(--accent-color);
  cursor: pointer;
}

.item-title {
  font-variant-caps: all-petite-caps;
}
/**----------------------
    SHOP ITEM - END
**----------------------**/

/*----------------------
      MEDIA QUERIES
-----------------------*/
@media screen and (min-width: 740px) {
  .block-main-container {
    flex-direction: row;
  }
  .block-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 640px) {
  .shop-grid {
    display: grid;
    grid-gap: 1.6rem;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    flex-basis: 1;
  }
  .shop-card {
    grid-column: span 4;
  }
  .logo {
    margin-left: 0;
  }
  .footer-bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-middle-section {
    flex-direction: row;
  }
  .item-container {
    flex-direction: row;
  }
  .item-image {
    width: 70%;
  }
}
@media screen and (min-width: 569px) {
  .logo {
    margin-left: 0;
  }
  .top-footer-section,
  .subscribe {
    display: flex;
    flex-direction: row;
  }
  .subscribe {
    gap: 0;
  }
  .subscribe input {
    width: 100%;
    max-width: 350px;
    padding: 1.5em;
  }
  .subscribe-btn {
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
  }
  .btn {
    width: 100%;
    max-width: 300px;
  }
  .nav-link-container,
  .cart-icon-section {
    justify-content: end;
  }
  .cart-icon-section {
    width: 130px;
  }
}
